 #map {
   height: inherit;
   width: inherit;
   border-radius: 20px;
 }

#left-target{
  background: rgba(203, 203, 203, 0.86);
}
body {
  margin: 0;
}
 .image-1 {
   height: 1000px;
   width: 100%;
   position: fixed;
   background: url("img/glass.jpg") no-repeat center center;
   background-size: cover;
 }

 @keyframes glow {
   from {
     color: #b1b1b1;
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px black, 0 0 50px black, 0 0 60px black,  0 0 70px black, 0 0 80px black;
     letter-spacing: 2px;
   }
   to {
     color: #050404;
     text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
     letter-spacing: 4px;
   }
 }

 h1.page-1 {
   text-align: center;
   font-family:  cursive;
   font-size: 6em;
   color: #b1b1b1;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px black, 0 0 50px black, 0 0 60px black,  0 0 70px black, 0 0 80px black;
   letter-spacing: 2px;
   transition: all 0.5s;
   animation-name: glow;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
 }

 button.page-1 {
   font-family:  serif;
   font-size: 20px;
   text-align: center;
   height: 80px;
   width: 120px;
   background-color: #4b4949;
   color: #fff;
   border-radius: 50%;
   display: table;
   margin: -50px auto 0 auto;
   letter-spacing: 4px;
 }
 #close-up {
   display: block;
   margin-left: -500px;
   text-decoration: none;
 }
 #close-button {
   list-style-type: none;
   text-decoration: none;
 }
 button:focus {
   outline: 0;
 }

 /*************************************************MODAL***********************************/
 .double-modal {
   position: fixed;
   width: 100%;
   height: 1000px;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
   opacity: 0;
   transition: opacity 1s ease-in;
   pointer-events: none;
   display: flex;
   justify-content: space-around;
 }

 .double-modal:target {
   opacity: 1;
   pointer-events: auto;
 }

 .box-1, .box-2 {
   display: inline-block;
   width: 500px;
   overflow-y: scroll;
   height: 600px;
   background: #fff;
   margin-top: 60px;
   border-radius: 20px;
 }

 .close {
   opacity: .8;
   position: relative;
   left: 450px;
   top: 500px;
   background: black;
   color: #b1b1b1;
   text-align: center;
   width: 30px;
   border-radius: 50%;
 }

 .close:hover {
   background: #2e69ff;
 }

 .show-map {
   display: block;
   height: 250px;
   width: 250px;
   border-radius: 80%;
 }
/**********************************************HEADING WINDOW*********************************/
.bar-detail {
  margin: 0 5%;
}

.hours {
  margin: 0 0 0 5px;
}
.bar-head {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Lora', serif;
  color: #2d2c2c;
  text-shadow: 2px 3px 0px #fff;
}
#random-button {
  font-size: 12px;
  text-align: center;
  height: 80px;
  width: 140px;
  background-color: #4b4949;
  color: white;
  border-radius: 50%;
  display: table;
  margin: 200px auto 0 auto;
  letter-spacing: 4px;
}
.center {
  text-align: center;
}
li {
  font-size: 18px;
  margin: 10px 0;

}
